@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme) source(none);
@import 'tailwindcss/utilities.css' layer(utilities) source(none);

@source "../**/*.{astro,html,js,jsx,ts,tsx,css}";
@source not "../content/";

@layer base {
	pre {
		white-space: pre-wrap;
	}
}

@theme {
    /* Generated accent color palettes. */
    --color-accent-200: #cbc4dd;
    --color-accent-600: #745da1;
    --color-accent-900: #362c4a;
    --color-accent-950: #262033;
    /* Generated gray color palettes. */
    --color-gray-100: #f6f6f6;
    --color-gray-200: #edeeed;
    --color-gray-300: #c1c2c1;
    --color-gray-400: #8a8c8a;
    --color-gray-500: #575857;
    --color-gray-700: #373937;
    --color-gray-800: #262726;
    --color-gray-900: #181818;
}